* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: orangered;
}

/* -------------------------  dimensionamento immagine */
.img-size {
    width: 180px;
}

/* -------------------------- conteiner principale */
.conteiner {
    width: 920px;
    margin: 0 auto;
}

/* -------------------------- classi barra nav */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

main {
    padding-top: 80px;
}

a {
    text-decoration: none;
    color: white;
}

ol {
    display: flex;
    gap: 8px;
}

li {
    list-style: none;
}


.nav-align {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
    font-size: 14px;
}

.nav-sx {
    display: flex;
    flex-basis: 40%;
    justify-content: left;
    align-self: center;
}

.nav-centro {
    flex-basis: 60%;
    text-align: center;
}

.nav-dx {
    display: flex;
    flex-basis: 40%;
    justify-content: right;
    align-self: center;
    gap: 8px;
    color: white;
}

/* ----------------------- classi card */

img {
    width: 100%;
}

.card-conteiner {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    gap: 10px;
}

.card {
    display: flex;
    align-items: center;
    width: 30%;
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;
}


/* ----------------------  colori prezzo e dimensione testo */

.color-red {
    color: red;
    font-size: 12px;
}

.color-geysbarr {
    color: lightgray;
    text-decoration: line-through;
    font-size: 12px;
}

.text-dim {
    font-size: 10px;
}

/* -----------------------  sconto hover */

.dicoun-conteiner {
    padding: 4px;
    background-color: red;
    font-size: 12px;
    color: white;
    position: absolute;
    top: 370px;
    left: 0;
}

.hearts-conteiner {
    padding: 8px;
    background-color: white;
    font-size: 16px;
    color: red;
    position: absolute;
    top: 10px;
    right: 0px;
}

.sost-conteiner {
    padding: 7px;
    background-color: green;
    font-size: 8px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 370px;
    left: 50px;
}